html, body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

th.weekday {
    border: 1px solid;
    width: 100px;
}

td.calendargrid {
    border: 1px solid;
    width: 100px;
    height: 120px;
    vertical-align: top;
    text-align: left;
    
}

.calendargrid:hover {
    background-color: gainsboro;
}

h1.landingheader {
    width: 100%
    text-align: center;
}

.highlight {
    background-color: gainsboro;
}
