html, body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th.weekday {
    border: 2px solid;
    width: 100px;
    background-color: gainsboro;
    border-color: rgb(194, 194, 194)
}

#calendarheader {
    text-align: start;
}

#hellouser {
    padding-top: 10px;
}

td.calendargrid {
    border: 1px solid;
    width: 100px;
    height: 120px;
    vertical-align: top;
    text-align: left;
    border-color: rgb(194, 194, 194);
    
}

.calendargrid:hover {
    background-color: rgb(255, 244, 222);
}

h1.landingheader {
    width: 100%;
    font-size: 100px;
}

.highlight {
    background-color: rgb(255, 244, 222);
}
